@media screen and (max-width: 320px) {
    .card-content #card-content__year {
        font-size: 2rem;
    }

    .size_his::after {
        font-size: 2rem!important;
    }

    .card-content p {
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 730px) {
    .his__title {
        font-size: 2.5rem;
        padding-bottom: 0;
    }

    .his {
        padding: 1rem 1rem 3rem;
    }

    .mySwiper {
        display: none;
    }

    .mySwiper__scale {
        display: block;
        padding: 2rem 0 3rem;
    }

    .cards {
        margin: 0 4.8rem;
        width: 78% !important;
    }

    .his-scale::after {
        font-size: 5rem;
    }

    .size_his {
        margin: 0 1.5rem;
    }

    .his__title {
        margin-bottom: 0;
    }

    .size_his::after {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1080px) {
    .mySwiper {
        display: none;
    }

    .mySwiper__scale {
        display: block;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 5%;
        font-family: didact gothic;
        font-size: 1.5rem;
    }

    .cards {
        width: 50%;
    }

    .his__title {
        margin-bottom: 2rem;
    }
}